// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "scrawlin";
  src: font-url('scribulous_scrawlin__by_alphabeta85_d221c88.ttf') format('truetype');
}
$my-font: "scrawlin";

@font-face {
  font-family: "Langar-Regular";
  src: font-url('Langar-Regular.ttf') format('truetype');
}
$my-font2: "Langar-Regular";
