// Specific CSS for your home-page

.background-home {
  background-image: url('home-background-image.jpg'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  color: white;
  height: 100vh;
}

.app-name {
  padding: 80px 0;
}

.app-slogan {
  padding-bottom: 160px;
  text-align: center;
}

.link-escola {
  color: white;
}

.btn2 {
  border-radius: 20px;
}
