// Specific CSS for your home-page

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 80px 16px;
}

.background-home {
  background-image: url('home-background-image.png'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  color: white;
  height: 100vh;
}

.align-center {
  align-self: center;
}

.btn-info {
  color: white;
}

.app-name {
  padding-bottom: 80px;
}

.app-slogan {
  padding-bottom: 160px;
  text-align: center;
}

.link-escola {
  color: white;
}