// Specific CSS for your home-page
body {
  background-image: url('brooke-cagle--uHVRvDr7pg-unsplash.jpg');
  background-size: cover;
  color: white;
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.align-center {
  align-self: center;
}

.btn-info {
  color: white;
}