<div class="flex-container background-home">
  <div class="flex-item align-center app-name">
    <h1>Voz das escolas</h1>
  </div>
  <div class="flex-item app-slogan">
    <h5>Compartilhe os problemas da sua escola! Agora sua voz será ouvida.</h5>
  </div>
  <div class="flex-item align-center">
    <%= link_to "Informe um problema", '#', class: "btn btn-info" %>
  </div>
  <div class="flex-item align-center">
    <% if user_signed_in? %>
      <%= link_to "Veja os problemas da sua escola", school_reports_path(current_user.school_id), class: "link-escola" %>
    <% else %>
      <%= link_to "Veja os problemas da sua escola", new_user_session_path, class: "link-escola" %>
    <% end %>
  </div>
</div>

