.btn-info {
  color: white;
  border-radius: 8px;
  margin-bottom: 1px;
  padding: 8px 16px;
  transition: background 0.3s ease;
}

.btn-primary {
  border-radius: 4px;
}


.wrapper {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
